/* Always include */
.__sprite{ display:inline-block; text-indent:-99999px;}
/* 120px x 120px big sprites  ----------------START---------------- */
.__bg120 {background-image:url("../img/spritesChampions120.png");}
.__bg120-Aatrox { width: 120px;height: 120px;background-position: 0px 0px;}
.__bg120-Ahri {	width: 120px;height: 120px;background-position: -120px -0;}
.__bg120-Akali { width: 120px; height: 120px;background-position: -0 -120px;}
.__bg120-Alistar { width: 120px; height: 120px;background-position: -120px -120px;}
.__bg120-Amumu { width: 120px; height: 120px;background-position: -240px -0;}
.__bg120-Anivia { width: 120px; height: 120px;background-position: -240px -120px;}
.__bg120-Annie { width: 120px; height: 120px;background-position: -0 -240px;}
.__bg120-Ashe { width: 120px; height: 120px;background-position: -120px -240px;}
.__bg120-AurelionSol { width: 120px; height: 120px;background-position: -240px -240px;}
.__bg120-Azir { width: 120px; height: 120px;background-position: -360px -0;}
.__bg120-Bard { width: 120px; height: 120px;background-position: -360px -120px;}
.__bg120-Blitzcrank { width: 120px; height: 120px;background-position: -360px -240px;}
.__bg120-Brand { width: 120px; height: 120px;background-position: -0 -360px;}
.__bg120-Braum { width: 120px; height: 120px;background-position: -120px -360px;}
.__bg120-Caitlyn { width: 120px; height: 120px;background-position: -240px -360px;}
.__bg120-Camille { width: 120px; height: 120px;background-position: -360px -360px;}
.__bg120-Cassiopeia { width: 120px; height: 120px;background-position: -480px -0;}
.__bg120-Chogath { width: 120px; height: 120px;background-position: -480px -120px;}
.__bg120-Corki { width: 120px; height: 120px;background-position: -480px -240px;}
.__bg120-Darius { width: 120px; height: 120px;background-position: -480px -360px;}
.__bg120-Diana { width: 120px; height: 120px;background-position: -0 -480px;}
.__bg120-Draven { width: 120px; height: 120px;background-position: -120px -480px;}
.__bg120-DrMundo { width: 120px; height: 120px;background-position: -240px -480px;}
.__bg120-Ekko { width: 120px; height: 120px;background-position: -360px -480px;}
.__bg120-Elise { width: 120px; height: 120px;background-position: -480px -480px;}
.__bg120-Evelynn { width: 120px; height: 120px;background-position: -600px -0;}
.__bg120-Ezreal { width: 120px; height: 120px;background-position: -600px -120px;}
.__bg120-Fiddlesticks { width: 120px; height: 120px;background-position: -600px -240px;}
.__bg120-Fiora { width: 120px; height: 120px;background-position: -600px -360px;}
.__bg120-Fizz { width: 120px; height: 120px;background-position: -600px -480px;}
.__bg120-Galio { width: 120px; height: 120px;background-position: -0 -600px;}
.__bg120-Gangplank { width: 120px; height: 120px;background-position: -120px -600px;}
.__bg120-Garen { width: 120px; height: 120px;background-position: -240px -600px;}
.__bg120-Gnar { width: 120px; height: 120px;background-position: -360px -600px;}
.__bg120-Gragas { width: 120px; height: 120px;background-position: -480px -600px;}
.__bg120-Graves { width: 120px; height: 120px;background-position: -600px -600px;}
.__bg120-Hecarim { width: 120px; height: 120px;background-position: -720px -0;}
.__bg120-Heimerdinger { width: 120px; height: 120px;background-position: -720px -120px;}
.__bg120-Illaoi { width: 120px; height: 120px;background-position: -720px -240px;}
.__bg120-Irelia { width: 120px; height: 120px;background-position: -720px -360px;}
.__bg120-Ivern { width: 120px; height: 120px;background-position: -720px -480px;}
.__bg120-Janna { width: 120px; height: 120px;background-position: -720px -600px;}
.__bg120-JarvanIV { width: 120px; height: 120px;background-position: -0 -720px;}
.__bg120-Jax { width: 120px; height: 120px;background-position: -120px -720px;}
.__bg120-Jayce { width: 120px; height: 120px;background-position: -240px -720px;}
.__bg120-Jhin { width: 120px; height: 120px;background-position: -360px -720px;}
.__bg120-Jinx { width: 120px; height: 120px;background-position: -480px -720px;}
.__bg120-Kaisa { width: 120px; height: 120px;background-position: -600px -720px;}
.__bg120-Kalista { width: 120px; height: 120px;background-position: -720px -720px;}
.__bg120-Karma { width: 120px; height: 120px;background-position: -840px -0;}
.__bg120-Karthus { width: 120px; height: 120px;background-position: -840px -120px;}
.__bg120-Kassadin { width: 120px; height: 120px;background-position: -840px -240px;}
.__bg120-Katarina { width: 120px; height: 120px;background-position: -840px -360px;}
.__bg120-Kayle { width: 120px; height: 120px;background-position: -840px -480px;}
.__bg120-Kayn { width: 120px; height: 120px;background-position: -840px -600px;}
.__bg120-Kennen { width: 120px; height: 120px;background-position: -840px -720px;}
.__bg120-Khazix { width: 120px; height: 120px;background-position: -0 -840px;}
.__bg120-Kindred { width: 120px; height: 120px;background-position: -120px -840px;}
.__bg120-Kled { width: 120px; height: 120px;background-position: -240px -840px;}
.__bg120-KogMaw { width: 120px; height: 120px;background-position: -360px -840px;}
.__bg120-Leblanc { width: 120px; height: 120px;background-position: -480px -840px;}
.__bg120-LeeSin { width: 120px; height: 120px;background-position: -600px -840px;}
.__bg120-Leona { width: 120px; height: 120px;background-position: -720px -840px;}
.__bg120-Lissandra { width: 120px; height: 120px;background-position: -840px -840px;}
.__bg120-Lucian { width: 120px; height: 120px;background-position: -960px -0;}
.__bg120-Lulu { width: 120px; height: 120px;background-position: -960px -120px;}
.__bg120-Lux { width: 120px; height: 120px;background-position: -960px -240px;}
.__bg120-Malphite { width: 120px; height: 120px;background-position: -960px -360px;}
.__bg120-Malzahar { width: 120px; height: 120px;background-position: -960px -480px;}
.__bg120-Maokai { width: 120px; height: 120px;background-position: -960px -600px;}
.__bg120-MasterYi { width: 120px; height: 120px;background-position: -960px -720px;}
.__bg120-MissFortune { width: 120px; height: 120px;background-position: -960px -840px;}
.__bg120-MonkeyKing { width: 120px; height: 120px;background-position: -0 -960px;}
.__bg120-Mordekaiser { width: 120px; height: 120px;background-position: -120px -960px;}
.__bg120-Morgana { width: 120px; height: 120px;background-position: -240px -960px;}
.__bg120-Nami { width: 120px; height: 120px;background-position: -360px -960px;}
.__bg120-Nasus { width: 120px; height: 120px;background-position: -480px -960px;}
.__bg120-Nautilus { width: 120px; height: 120px;background-position: -600px -960px;}
.__bg120-Neeko { width: 120px; height: 120px;background-position: -720px -960px;}
.__bg120-Nidalee { width: 120px; height: 120px;background-position: -840px -960px;}
.__bg120-Nocturne { width: 120px; height: 120px;background-position: -960px -960px;}
.__bg120-Nunu { width: 120px; height: 120px;background-position: -1080px -0;}
.__bg120-Olaf { width: 120px; height: 120px;background-position: -1080px -120px;}
.__bg120-Orianna { width: 120px; height: 120px;background-position: -1080px -240px;}
.__bg120-Ornn { width: 120px; height: 120px;background-position: -1080px -360px;}
.__bg120-Pantheon { width: 120px; height: 120px;background-position: -1080px -480px;}
.__bg120-Poppy { width: 120px; height: 120px;background-position: -1080px -600px;}
.__bg120-Pyke { width: 120px; height: 120px;background-position: -1080px -720px;}
.__bg120-Qiyana { width: 120px; height: 120px;background-position: -1080px -840px;}
.__bg120-Quinn { width: 120px; height: 120px;background-position: -1080px -960px;}
.__bg120-Rakan { width: 120px; height: 120px;background-position: -0 -1080px;}
.__bg120-Rammus { width: 120px; height: 120px;background-position: -120px -1080px;}
.__bg120-RekSai { width: 120px; height: 120px;background-position: -240px -1080px;}
.__bg120-Renekton { width: 120px; height: 120px;background-position: -360px -1080px;}
.__bg120-Rengar { width: 120px; height: 120px;background-position: -480px -1080px;}
.__bg120-Riven { width: 120px; height: 120px;background-position: -600px -1080px;}
.__bg120-Rumble { width: 120px; height: 120px;background-position: -720px -1080px;}
.__bg120-Ryze { width: 120px; height: 120px;background-position: -840px -1080px;}
.__bg120-Sejuani { width: 120px; height: 120px;background-position: -960px -1080px;}
.__bg120-Shaco { width: 120px; height: 120px;background-position: -1080px -1080px;}
.__bg120-Shen { width: 120px; height: 120px;background-position: -1200px -0;}
.__bg120-Shyvana { width: 120px; height: 120px;background-position: -1200px -120px;}
.__bg120-Singed { width: 120px; height: 120px;background-position: -1200px -240px;}
.__bg120-Sion { width: 120px; height: 120px;background-position: -1200px -360px;}
.__bg120-Sivir { width: 120px; height: 120px;background-position: -1200px -480px;}
.__bg120-Skarner { width: 120px; height: 120px;background-position: -1200px -600px;}
.__bg120-Sona { width: 120px; height: 120px;background-position: -1200px -720px;}
.__bg120-Soraka { width: 120px; height: 120px;background-position: -1200px -840px;}
.__bg120-Swain { width: 120px; height: 120px;background-position: -1200px -960px;}
.__bg120-Sylas { width: 120px; height: 120px;background-position: -1200px -1080px;}
.__bg120-Syndra { width: 120px; height: 120px;background-position: -0 -1200px;}
.__bg120-TahmKench { width: 120px; height: 120px;background-position: -120px -1200px;}
.__bg120-Taliyah { width: 120px; height: 120px;background-position: -240px -1200px;}
.__bg120-Talon { width: 120px; height: 120px;background-position: -360px -1200px;}
.__bg120-Taric { width: 120px; height: 120px;background-position: -480px -1200px;}
.__bg120-Teemo { width: 120px; height: 120px;background-position: -600px -1200px;}
.__bg120-Thresh { width: 120px; height: 120px;background-position: -720px -1200px;}
.__bg120-Tristana { width: 120px; height: 120px;background-position: -840px -1200px;}
.__bg120-Trundle { width: 120px; height: 120px;background-position: -960px -1200px;}
.__bg120-Tryndamere { width: 120px; height: 120px;background-position: -1080px -1200px;}
.__bg120-TwistedFate { width: 120px; height: 120px;background-position: -1200px -1200px;}
.__bg120-Twitch { width: 120px; height: 120px;background-position: -1320px -0;}
.__bg120-Udyr { width: 120px; height: 120px;background-position: -1320px -120px;}
.__bg120-Urgot { width: 120px; height: 120px;background-position: -1320px -240px;}
.__bg120-Varus { width: 120px; height: 120px;background-position: -1320px -360px;}
.__bg120-Vayne { width: 120px; height: 120px;background-position: -1320px -480px;}
.__bg120-Veigar { width: 120px; height: 120px;background-position: -1320px -600px;}
.__bg120-Velkoz { width: 120px; height: 120px;background-position: -1320px -720px;}
.__bg120-Vi { width: 120px; height: 120px;background-position: -1320px -840px;}
.__bg120-Viktor { width: 120px; height: 120px;background-position: -1320px -960px;}
.__bg120-Vladimir { width: 120px; height: 120px;background-position: -1320px -1080px;}
.__bg120-Volibear { width: 120px; height: 120px;background-position: -1320px -1200px;}
.__bg120-Warwick { width: 120px; height: 120px;background-position: -0 -1320px;}
.__bg120-Xayah { width: 120px; height: 120px;background-position: -120px -1320px;}
.__bg120-Xerath { width: 120px; height: 120px;background-position: -240px -1320px;}
.__bg120-XinZhao { width: 120px; height: 120px;background-position: -360px -1320px;}
.__bg120-Yasuo { width: 120px; height: 120px;background-position: -480px -1320px;}
.__bg120-Yorick { width: 120px; height: 120px;background-position: -600px -1320px;}
.__bg120-Yuumi { width: 120px; height: 120px;background-position: -720px -1320px;}
.__bg120-Zac { width: 120px; height: 120px;background-position: -840px -1320px;}
.__bg120-Zed { width: 120px; height: 120px;background-position: -960px -1320px;}
.__bg120-Ziggs { width: 120px; height: 120px;background-position: -1080px -1320px;}
.__bg120-Zilean { width: 120px; height: 120px;background-position: -1200px -1320px;}
.__bg120-Zoe { width: 120px; height: 120px;background-position: -1320px -1320px;}
.__bg120-Zyra { width: 120px; height: 120px;background-position: -1440px -0;}
/* 120px x 120px big sprites  ----------------END---------------- */

