/* Always include */
.__bg120{background:url("../img/output.webp") ; width: 120px; height: 120px;}
/* 120px x 120px big sprites  ----------------START---------------- */
.__bg120.Aatrox { background-position: 0px 0px;}
.__bg120.Ahri {	background-position: -120px -0;}
.__bg120.Akali { background-position: -0 -120px;}
.__bg120.Alistar { background-position: -120px -120px;}
.__bg120.Amumu { background-position: -240px -0;}
.__bg120.Anivia { background-position: -240px -120px;}
.__bg120.Annie { background-position: -0 -240px;}
.__bg120.Ashe { background-position: -120px -240px;}
.__bg120.AurelionSol { background-position: -240px -240px;}
.__bg120.Azir { background-position: -360px -0;}
.__bg120.Bard { background-position: -360px -120px;}
.__bg120.Blitzcrank { background-position: -360px -240px;}
.__bg120.Brand { background-position: -0 -360px;}
.__bg120.Braum { background-position: -120px -360px;}
.__bg120.Caitlyn { background-position: -240px -360px;}
.__bg120.Camille { background-position: -360px -360px;}
.__bg120.Cassiopeia { background-position: -480px -0;}
.__bg120.Chogath { background-position: -480px -120px;}
.__bg120.Corki { background-position: -480px -240px;}
.__bg120.Darius { background-position: -480px -360px;}
.__bg120.Diana { background-position: -0 -480px;}
.__bg120.Draven { background-position: -120px -480px;}
.__bg120.DrMundo { background-position: -240px -480px;}
.__bg120.Ekko { background-position: -360px -480px;}
.__bg120.Elise { background-position: -480px -480px;}
.__bg120.Evelynn { background-position: -600px -0;}
.__bg120.Ezreal { background-position: -600px -120px;}
.__bg120.Fiddlesticks { background-position: -600px -240px;}
.__bg120.Fiora { background-position: -600px -360px;}
.__bg120.Fizz { background-position: -600px -480px;}
.__bg120.Galio { background-position: -0 -600px;}
.__bg120.Gangplank { background-position: -120px -600px;}
.__bg120.Garen { background-position: -240px -600px;}
.__bg120.Gnar { background-position: -360px -600px;}
.__bg120.Gragas { background-position: -480px -600px;}
.__bg120.Graves { background-position: -600px -600px;}
.__bg120.Hecarim { background-position: -720px -0;}
.__bg120.Heimerdinger { background-position: -720px -120px;}
.__bg120.Illaoi { background-position: -720px -240px;}
.__bg120.Irelia { background-position: -720px -360px;}
.__bg120.Ivern { background-position: -720px -480px;}
.__bg120.Janna { background-position: -720px -600px;}
.__bg120.JarvanIV { background-position: -0 -720px;}
.__bg120.Jax { background-position: -120px -720px;}
.__bg120.Jayce { background-position: -240px -720px;}
.__bg120.Jhin { background-position: -360px -720px;}
.__bg120.Jinx { background-position: -480px -720px;}
.__bg120.Kaisa { background-position: -600px -720px;}
.__bg120.Kalista { background-position: -720px -720px;}
.__bg120.Karma { background-position: -840px -0;}
.__bg120.Karthus { background-position: -840px -120px;}
.__bg120.Kassadin { background-position: -840px -240px;}
.__bg120.Katarina { background-position: -840px -360px;}
.__bg120.Kayle { background-position: -840px -480px;}
.__bg120.Kayn { background-position: -840px -600px;}
.__bg120.Kennen { background-position: -840px -720px;}
.__bg120.Khazix { background-position: -0 -840px;}
.__bg120.Kindred { background-position: -120px -840px;}
.__bg120.Kled { background-position: -240px -840px;}
.__bg120.KogMaw { background-position: -360px -840px;}
.__bg120.Leblanc { background-position: -480px -840px;}
.__bg120.LeeSin { background-position: -600px -840px;}
.__bg120.Leona { background-position: -720px -840px;}
.__bg120.Lissandra { background-position: -840px -840px;}
.__bg120.Lucian { background-position: -960px -0;}
.__bg120.Lulu { background-position: -960px -120px;}
.__bg120.Lux { background-position: -960px -240px;}
.__bg120.Malphite { background-position: -960px -360px;}
.__bg120.Malzahar { background-position: -960px -480px;}
.__bg120.Maokai { background-position: -960px -600px;}
.__bg120.MasterYi { background-position: -960px -720px;}
.__bg120.MissFortune { background-position: -960px -840px;}
.__bg120.MonkeyKing { background-position: -0 -960px;}
.__bg120.Mordekaiser { background-position: -120px -960px;}
.__bg120.Morgana { background-position: -240px -960px;}
.__bg120.Nami { background-position: -360px -960px;}
.__bg120.Nasus { background-position: -480px -960px;}
.__bg120.Nautilus { background-position: -600px -960px;}
.__bg120.Neeko { background-position: -720px -960px;}
.__bg120.Nidalee { background-position: -840px -960px;}
.__bg120.Nocturne { background-position: -960px -960px;}
.__bg120.Nunu { background-position: -1080px -0;}
.__bg120.Olaf { background-position: -1080px -120px;}
.__bg120.Orianna { background-position: -1080px -240px;}
.__bg120.Ornn { background-position: -1080px -360px;}
.__bg120.Pantheon { background-position: -1080px -480px;}
.__bg120.Poppy { background-position: -1080px -600px;}
.__bg120.Pyke { background-position: -1080px -720px;}
.__bg120.Qiyana { background-position: -1080px -840px;}
.__bg120.Quinn { background-position: -1080px -960px;}
.__bg120.Rakan { background-position: -0 -1080px;}
.__bg120.Rammus { background-position: -120px -1080px;}
.__bg120.RekSai { background-position: -240px -1080px;}
.__bg120.Renekton { background-position: -360px -1080px;}
.__bg120.Rengar { background-position: -480px -1080px;}
.__bg120.Riven { background-position: -600px -1080px;}
.__bg120.Rumble { background-position: -720px -1080px;}
.__bg120.Ryze { background-position: -840px -1080px;}
.__bg120.Sejuani { background-position: -960px -1080px;}
.__bg120.Shaco { background-position: -1080px -1080px;}
.__bg120.Shen { background-position: -1200px -0;}
.__bg120.Shyvana { background-position: -1200px -120px;}
.__bg120.Singed { background-position: -1200px -240px;}
.__bg120.Sion { background-position: -1200px -360px;}
.__bg120.Sivir { background-position: -1200px -480px;}
.__bg120.Skarner { background-position: -1200px -600px;}
.__bg120.Sona { background-position: -1200px -720px;}
.__bg120.Soraka { background-position: -1200px -840px;}
.__bg120.Swain { background-position: -1200px -960px;}
.__bg120.Sylas { background-position: -1200px -1080px;}
.__bg120.Syndra { background-position: -0 -1200px;}
.__bg120.TahmKench { background-position: -120px -1200px;}
.__bg120.Taliyah { background-position: -240px -1200px;}
.__bg120.Talon { background-position: -360px -1200px;}
.__bg120.Taric { background-position: -480px -1200px;}
.__bg120.Teemo { background-position: -600px -1200px;}
.__bg120.Thresh { background-position: -720px -1200px;}
.__bg120.Tristana { background-position: -840px -1200px;}
.__bg120.Trundle { background-position: -960px -1200px;}
.__bg120.Tryndamere { background-position: -1080px -1200px;}
.__bg120.TwistedFate { background-position: -1200px -1200px;}
.__bg120.Twitch { background-position: -1320px -0;}
.__bg120.Udyr { background-position: -1320px -120px;}
.__bg120.Urgot { background-position: -1320px -240px;}
.__bg120.Varus { background-position: -1320px -360px;}
.__bg120.Vayne { background-position: -1320px -480px;}
.__bg120.Veigar { background-position: -1320px -600px;}
.__bg120.Velkoz { background-position: -1320px -720px;}
.__bg120.Vi { background-position: -1320px -840px;}
.__bg120.Viktor { background-position: -1320px -960px;}
.__bg120.Vladimir { background-position: -1320px -1080px;}
.__bg120.Volibear { background-position: -1320px -1200px;}
.__bg120.Warwick { background-position: -0 -1320px;}
.__bg120.Xayah { background-position: -120px -1320px;}
.__bg120.Xerath { background-position: -240px -1320px;}
.__bg120.XinZhao { background-position: -360px -1320px;}
.__bg120.Yasuo { background-position: -480px -1320px;}
.__bg120.Yorick { background-position: -600px -1320px;}
.__bg120.Yuumi { background-position: -720px -1320px;}
.__bg120.Zac { background-position: -840px -1320px;}
.__bg120.Zed { background-position: -960px -1320px;}
.__bg120.Ziggs { background-position: -1080px -1320px;}
.__bg120.Zilean { background-position: -1200px -1320px;}
.__bg120.Zoe { background-position: -1320px -1320px;}
.__bg120.Zyra { background-position: -1440px -0;}
/* 120px x 120px big sprites  ----------------END---------------- */

