.role-tags{
	position: absolute;
	bottom: 25px;
	right: 0; 
	text-align: right; 
	line-height: 1
}
.role-tag{
	display: block;
}
.role-tags span{
	display: inline-block;
	line-height: 15px;
	font-size: 12px;
	letter-spacing: -0.9px;
	color: #fff;
	background: #353b3e;
	padding: 1px 6px 0 4px;
}

.chmapion-stat-image{
	position:relative;
	display: block;
	width:120px
	;height:120px;
	border:2px solid #000;
}

.LevelTable{
	position: absolute;
    left: -3px;
    bottom: -3px;
    width: 15px;
    height: 15px;
    background: url(../levelholder.png);
    color: #ddd;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
}