.sprite { background: url('../img/itemSprite64.png') no-repeat top left; width: 64px; height: 64px;  } 
.sprite.item3675 { background-position: 0 0; } 
.sprite.item3680 { background-position: 0 -64px; } 
.sprite.item3681 { background-position: 0 -128px; } 
.sprite.item3682 { background-position: 0 -192px; } 
.sprite.item3683 { background-position: 0 -256px; } 
.sprite.item3690 { background-position: 0 -320px; } 
.sprite.item3691 { background-position: 0 -384px; } 
.sprite.item3692 { background-position: 0 -448px; } 
.sprite.item3693 { background-position: 0 -512px; } 
.sprite.item3694 { background-position: 0 -576px; } 
.sprite.item3695 { background-position: 0 -640px; } 
.sprite.item3706 { background-position: 0 -704px; } 
.sprite.item3715 { background-position: 0 -768px; } 
.sprite.item3742 { background-position: 0 -832px; } 
.sprite.item3748 { background-position: 0 -896px; } 
.sprite.item3751 { background-position: 0 -960px; } 
.sprite.item3800 { background-position: 0 -1024px; } 
.sprite.item3801 { background-position: 0 -1088px; } 
.sprite.item3802 { background-position: 0 -1152px; } 
.sprite.item3812 { background-position: 0 -1216px; } 
.sprite.item3813 { background-position: 0 -1280px; } 
.sprite.item3814 { background-position: 0 -1344px; } 
.sprite.item3901 { background-position: 0 -1408px; } 
.sprite.item3902 { background-position: 0 -1472px; } 
.sprite.item3903 { background-position: 0 -1536px; } 
.sprite.item3905 { background-position: 0 -1600px; } 
.sprite.item3907 { background-position: 0 -1664px; } 
.sprite.item3916 { background-position: 0 -1728px; } 
.sprite.item4003 { background-position: 0 -1792px; } 
.sprite.item4004 { background-position: 0 -1856px; } 
.sprite.item4101 { background-position: 0 -1920px; } 
.sprite.item4102 { background-position: 0 -1984px; } 
.sprite.item4103 { background-position: 0 -2048px; } 
.sprite.item4104 { background-position: 0 -2112px; } 
.sprite.item4105 { background-position: 0 -2176px; } 
.sprite.item4201 { background-position: 0 -2240px; } 
.sprite.item4202 { background-position: 0 -2304px; } 
.sprite.item4203 { background-position: 0 -2368px; } 
.sprite.item4204 { background-position: 0 -2432px; } 
.sprite.item4301 { background-position: 0 -2496px; } 
.sprite.item4302 { background-position: 0 -2560px; } 
.sprite.item4401 { background-position: 0 -2624px; } 
.sprite.item4402 { background-position: 0 -2688px; } 
.sprite.item4403 { background-position: 0 -2752px; } 
.sprite.item1001 { background-position: 0 -2816px; } 
.sprite.item1004 { background-position: 0 -2880px; } 
.sprite.item1006 { background-position: 0 -2944px; } 
.sprite.item1011 { background-position: 0 -3008px; } 
.sprite.item1018 { background-position: 0 -3072px; } 
.sprite.item1026 { background-position: 0 -3136px; } 
.sprite.item1027 { background-position: 0 -3200px; } 
.sprite.item1028 { background-position: 0 -3264px; } 
.sprite.item1029 { background-position: 0 -3328px; } 
.sprite.item1031 { background-position: 0 -3392px; } 
.sprite.item1033 { background-position: 0 -3456px; } 
.sprite.item1036 { background-position: 0 -3520px; } 
.sprite.item1037 { background-position: 0 -3584px; } 
.sprite.item1038 { background-position: 0 -3648px; } 
.sprite.item1039 { background-position: 0 -3712px; } 
.sprite.item1041 { background-position: 0 -3776px; } 
.sprite.item1042 { background-position: 0 -3840px; } 
.sprite.item1043 { background-position: 0 -3904px; } 
.sprite.item1051 { background-position: 0 -3968px; } 
.sprite.item1052 { background-position: 0 -4032px; } 
.sprite.item1053 { background-position: 0 -4096px; } 
.sprite.item1054 { background-position: 0 -4160px; } 
.sprite.item1055 { background-position: 0 -4224px; } 
.sprite.item1056 { background-position: 0 -4288px; } 
.sprite.item1057 { background-position: 0 -4352px; } 
.sprite.item1058 { background-position: 0 -4416px; } 
.sprite.item1059 { background-position: 0 -4480px; } 
.sprite.item1082 { background-position: 0 -4544px; } 
.sprite.item1083 { background-position: 0 -4608px; } 
.sprite.item1400 { background-position: 0 -4672px; } 
.sprite.item1401 { background-position: 0 -4736px; } 
.sprite.item1402 { background-position: 0 -4800px; } 
.sprite.item1412 { background-position: 0 -4864px; } 
.sprite.item1413 { background-position: 0 -4928px; } 
.sprite.item1414 { background-position: 0 -4992px; } 
.sprite.item1416 { background-position: 0 -5056px; } 
.sprite.item1419 { background-position: 0 -5120px; } 
.sprite.item2003 { background-position: 0 -5184px; } 
.sprite.item2004 { background-position: 0 -5248px; } 
.sprite.item2009 { background-position: 0 -5312px; } 
.sprite.item2010 { background-position: 0 -5376px; } 
.sprite.item2011 { background-position: 0 -5440px; } 
.sprite.item2012 { background-position: 0 -5504px; } 
.sprite.item2013 { background-position: 0 -5568px; } 
.sprite.item2015 { background-position: 0 -5632px; } 
.sprite.item2031 { background-position: 0 -5696px; } 
.sprite.item2033 { background-position: 0 -5760px; } 
.sprite.item2047 { background-position: 0 -5824px; } 
.sprite.item2050 { background-position: 0 -5888px; } 
.sprite.item2051 { background-position: 0 -5952px; } 
.sprite.item2052 { background-position: 0 -6016px; } 
.sprite.item2053 { background-position: 0 -6080px; } 
.sprite.item2054 { background-position: 0 -6144px; } 
.sprite.item2055 { background-position: 0 -6208px; } 
.sprite.item2056 { background-position: 0 -6272px; } 
.sprite.item2057 { background-position: 0 -6336px; } 
.sprite.item2058 { background-position: 0 -6400px; } 
.sprite.item2059 { background-position: 0 -6464px; } 
.sprite.item2060 { background-position: 0 -6528px; } 
.sprite.item2061 { background-position: 0 -6592px; } 
.sprite.item2062 { background-position: 0 -6656px; } 
.sprite.item2065 { background-position: 0 -6720px; } 
.sprite.item2138 { background-position: 0 -6784px; } 
.sprite.item2139 { background-position: 0 -6848px; } 
.sprite.item2140 { background-position: 0 -6912px; } 
.sprite.item2319 { background-position: 0 -6976px; } 
.sprite.item2403 { background-position: 0 -7040px; } 
.sprite.item2419 { background-position: 0 -7104px; } 
.sprite.item2420 { background-position: 0 -7168px; } 
.sprite.item2421 { background-position: 0 -7232px; } 
.sprite.item2422 { background-position: 0 -7296px; } 
.sprite.item2423 { background-position: 0 -7360px; } 
.sprite.item2424 { background-position: 0 -7424px; } 
.sprite.item3001 { background-position: 0 -7488px; } 
.sprite.item3003 { background-position: 0 -7552px; } 
.sprite.item3004 { background-position: 0 -7616px; } 
.sprite.item3005 { background-position: 0 -7680px; } 
.sprite.item3006 { background-position: 0 -7744px; } 
.sprite.item3007 { background-position: 0 -7808px; } 
.sprite.item3008 { background-position: 0 -7872px; } 
.sprite.item3009 { background-position: 0 -7936px; } 
.sprite.item3010 { background-position: 0 -8000px; } 
.sprite.item3020 { background-position: 0 -8064px; } 
.sprite.item3022 { background-position: 0 -8128px; } 
.sprite.item3024 { background-position: 0 -8192px; } 
.sprite.item3025 { background-position: 0 -8256px; } 
.sprite.item3026 { background-position: 0 -8320px; } 
.sprite.item3027 { background-position: 0 -8384px; } 
.sprite.item3028 { background-position: 0 -8448px; } 
.sprite.item3029 { background-position: 0 -8512px; } 
.sprite.item3030 { background-position: 0 -8576px; } 
.sprite.item3031 { background-position: 0 -8640px; } 
.sprite.item3035 { background-position: 0 -8704px; } 
.sprite.item3036 { background-position: 0 -8768px; } 
.sprite.item3033 { background-position: 0 -8832px; } 
.sprite.item3040 { background-position: 0 -8896px; } 
.sprite.item3041 { background-position: 0 -8960px; } 
.sprite.item3042 { background-position: 0 -9024px; } 
.sprite.item3043 { background-position: 0 -9088px; } 
.sprite.item3044 { background-position: 0 -9152px; } 
.sprite.item3046 { background-position: 0 -9216px; } 
.sprite.item3047 { background-position: 0 -9280px; } 
.sprite.item3048 { background-position: 0 -9344px; } 
.sprite.item3050 { background-position: 0 -9408px; } 
.sprite.item3052 { background-position: 0 -9472px; } 
.sprite.item3053 { background-position: 0 -9536px; } 
.sprite.item3056 { background-position: 0 -9600px; } 
.sprite.item3057 { background-position: 0 -9664px; } 
.sprite.item3065 { background-position: 0 -9728px; } 
.sprite.item3067 { background-position: 0 -9792px; } 
.sprite.item3068 { background-position: 0 -9856px; } 
.sprite.item3069 { background-position: 0 -9920px; } 
.sprite.item3070 { background-position: 0 -9984px; } 
.sprite.item3071 { background-position: 0 -10048px; } 
.sprite.item3072 { background-position: 0 -10112px; } 
.sprite.item3073 { background-position: 0 -10176px; } 
.sprite.item3074 { background-position: 0 -10240px; } 
.sprite.item3075 { background-position: 0 -10304px; } 
.sprite.item3076 { background-position: 0 -10368px; } 
.sprite.item3077 { background-position: 0 -10432px; } 
.sprite.item3078 { background-position: 0 -10496px; } 
.sprite.item3080 { background-position: 0 -10560px; } 
.sprite.item3082 { background-position: 0 -10624px; } 
.sprite.item3083 { background-position: 0 -10688px; } 
.sprite.item3084 { background-position: 0 -10752px; } 
.sprite.item3085 { background-position: 0 -10816px; } 
.sprite.item3086 { background-position: 0 -10880px; } 
.sprite.item3087 { background-position: 0 -10944px; } 
.sprite.item3089 { background-position: 0 -11008px; } 
.sprite.item3090 { background-position: 0 -11072px; } 
.sprite.item3091 { background-position: 0 -11136px; } 
.sprite.item3092 { background-position: 0 -11200px; } 
.sprite.item3094 { background-position: 0 -11264px; } 
.sprite.item3095 { background-position: 0 -11328px; } 
.sprite.item3096 { background-position: 0 -11392px; } 
.sprite.item3097 { background-position: 0 -11456px; } 
.sprite.item3098 { background-position: 0 -11520px; } 
.sprite.item3100 { background-position: 0 -11584px; } 
.sprite.item3101 { background-position: 0 -11648px; } 
.sprite.item3102 { background-position: 0 -11712px; } 
.sprite.item3104 { background-position: 0 -11776px; } 
.sprite.item3105 { background-position: 0 -11840px; } 
.sprite.item3107 { background-position: 0 -11904px; } 
.sprite.item3108 { background-position: 0 -11968px; } 
.sprite.item3109 { background-position: 0 -12032px; } 
.sprite.item3110 { background-position: 0 -12096px; } 
.sprite.item3111 { background-position: 0 -12160px; } 
.sprite.item3112 { background-position: 0 -12224px; } 
.sprite.item3113 { background-position: 0 -12288px; } 
.sprite.item3114 { background-position: 0 -12352px; } 
.sprite.item3115 { background-position: 0 -12416px; } 
.sprite.item3116 { background-position: 0 -12480px; } 
.sprite.item3117 { background-position: 0 -12544px; } 
.sprite.item3118 { background-position: 0 -12608px; } 
.sprite.item3122 { background-position: 0 -12672px; } 
.sprite.item3123 { background-position: 0 -12736px; } 
.sprite.item3124 { background-position: 0 -12800px; } 
.sprite.item3128 { background-position: 0 -12864px; } 
.sprite.item3131 { background-position: 0 -12928px; } 
.sprite.item3133 { background-position: 0 -12992px; } 
.sprite.item3134 { background-position: 0 -13056px; } 
.sprite.item3135 { background-position: 0 -13120px; } 
.sprite.item3136 { background-position: 0 -13184px; } 
.sprite.item3137 { background-position: 0 -13248px; } 
.sprite.item3139 { background-position: 0 -13312px; } 
.sprite.item3140 { background-position: 0 -13376px; } 
.sprite.item3142 { background-position: 0 -13440px; } 
.sprite.item3143 { background-position: 0 -13504px; } 
.sprite.item3144 { background-position: 0 -13568px; } 
.sprite.item3145 { background-position: 0 -13632px; } 
.sprite.item3146 { background-position: 0 -13696px; } 
.sprite.item3147 { background-position: 0 -13760px; } 
.sprite.item3148 { background-position: 0 -13824px; } 
.sprite.item3149 { background-position: 0 -13888px; } 
.sprite.item3151 { background-position: 0 -13952px; } 
.sprite.item3152 { background-position: 0 -14016px; } 
.sprite.item3153 { background-position: 0 -14080px; } 
.sprite.item3155 { background-position: 0 -14144px; } 
.sprite.item3156 { background-position: 0 -14208px; } 
.sprite.item3157 { background-position: 0 -14272px; } 
.sprite.item3158 { background-position: 0 -14336px; } 
.sprite.item3161 { background-position: 0 -14400px; } 
.sprite.item3162 { background-position: 0 -14464px; } 
.sprite.item3163 { background-position: 0 -14528px; } 
.sprite.item3165 { background-position: 0 -14592px; } 
.sprite.item3170 { background-position: 0 -14656px; } 
.sprite.item3172 { background-position: 0 -14720px; } 
.sprite.item3173 { background-position: 0 -14784px; } 
.sprite.item3174 { background-position: 0 -14848px; } 
.sprite.item3175 { background-position: 0 -14912px; } 
.sprite.item3181 { background-position: 0 -14976px; } 
.sprite.item3184 { background-position: 0 -15040px; } 
.sprite.item3185 { background-position: 0 -15104px; } 
.sprite.item3187 { background-position: 0 -15168px; } 
.sprite.item3190 { background-position: 0 -15232px; } 
.sprite.item3191 { background-position: 0 -15296px; } 
.sprite.item3193 { background-position: 0 -15360px; } 
.sprite.item3194 { background-position: 0 -15424px; } 
.sprite.item3196 { background-position: 0 -15488px; } 
.sprite.item3197 { background-position: 0 -15552px; } 
.sprite.item3198 { background-position: 0 -15616px; } 
.sprite.item3200 { background-position: 0 -15680px; } 
.sprite.item3211 { background-position: 0 -15744px; } 
.sprite.item3222 { background-position: 0 -15808px; } 
.sprite.item3230 { background-position: 0 -15872px; } 
.sprite.item3231 { background-position: 0 -15936px; } 
.sprite.item3285 { background-position: 0 -16000px; } 
.sprite.item3301 { background-position: 0 -16064px; } 
.sprite.item3302 { background-position: 0 -16128px; } 
.sprite.item3303 { background-position: 0 -16192px; } 
.sprite.item3304 { background-position: 0 -16256px; } 
.sprite.item3305 { background-position: 0 -16320px; } 
.sprite.item3306 { background-position: 0 -16384px; } 
.sprite.item3307 { background-position: 0 -16448px; } 
.sprite.item3308 { background-position: 0 -16512px; } 
.sprite.item3309 { background-position: 0 -16576px; } 
.sprite.item3310 { background-position: 0 -16640px; } 
.sprite.item3311 { background-position: 0 -16704px; } 
.sprite.item3312 { background-position: 0 -16768px; } 
.sprite.item3340 { background-position: 0 -16832px; } 
.sprite.item3345 { background-position: 0 -16896px; } 
.sprite.item3348 { background-position: 0 -16960px; } 
.sprite.item3361 { background-position: 0 -17024px; } 
.sprite.item3362 { background-position: 0 -17088px; } 
.sprite.item3363 { background-position: 0 -17152px; } 
.sprite.item3364 { background-position: 0 -17216px; } 
.sprite.item3371 { background-position: 0 -17280px; } 
.sprite.item3373 { background-position: 0 -17344px; } 
.sprite.item3374 { background-position: 0 -17408px; } 
.sprite.item3379 { background-position: 0 -17472px; } 
.sprite.item3380 { background-position: 0 -17536px; } 
.sprite.item3382 { background-position: 0 -17600px; } 
.sprite.item3383 { background-position: 0 -17664px; } 
.sprite.item3384 { background-position: 0 -17728px; } 
.sprite.item3385 { background-position: 0 -17792px; } 
.sprite.item3386 { background-position: 0 -17856px; } 
.sprite.item3387 { background-position: 0 -17920px; } 
.sprite.item3388 { background-position: 0 -17984px; } 
.sprite.item3389 { background-position: 0 -18048px; } 
.sprite.item3390 { background-position: 0 -18112px; } 
.sprite.item3400 { background-position: 0 -18176px; } 
.sprite.item3401 { background-position: 0 -18240px; } 
.sprite.item3410 { background-position: 0 -18304px; } 
.sprite.item3416 { background-position: 0 -18368px; } 
.sprite.item3422 { background-position: 0 -18432px; } 
.sprite.item3455 { background-position: 0 -18496px; } 
.sprite.item3460 { background-position: 0 -18560px; } 
.sprite.item3461 { background-position: 0 -18624px; } 
.sprite.item3462 { background-position: 0 -18688px; } 
.sprite.item3504 { background-position: 0 -18752px; } 
.sprite.item3508 { background-position: 0 -18816px; } 
.sprite.item3512 { background-position: 0 -18880px; } 
.sprite.item3513 { background-position: 0 -18944px; } 
.sprite.item3514 { background-position: 0 -19008px; } 
.sprite.item3520 { background-position: 0 -19072px; } 
.sprite.item3599 { background-position: 0 -19136px; } 
.sprite.item3600 { background-position: 0 -19200px; } 
.sprite.item3630 { background-position: 0 -19264px; } 
.sprite.item3631 { background-position: 0 -19328px; } 
.sprite.item3633 { background-position: 0 -19392px; } 
.sprite.item3634 { background-position: 0 -19456px; } 
.sprite.item3635 { background-position: 0 -19520px; } 
.sprite.item3636 { background-position: 0 -19584px; } 
.sprite.item3637 { background-position: 0 -19648px; } 
.sprite.item3640 { background-position: 0 -19712px; } 
.sprite.item3641 { background-position: 0 -19776px; } 
.sprite.item3642 { background-position: 0 -19840px; } 
.sprite.item3643 { background-position: 0 -19904px; } 
.sprite.item3645 { background-position: 0 -19968px; } 
.sprite.item3647 { background-position: 0 -20032px; } 
.sprite.item3648 { background-position: 0 -20096px; } 
.sprite.item3649 { background-position: 0 -20160px; } 
.sprite.item3671 { background-position: 0 -20224px; } 
.sprite.item3672 { background-position: 0 -20288px; } 
.sprite.item3673 { background-position: 0 -20352px; } 